[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
blessings = "*"
"m2crypto" = "*"
flask = "*"
simplejson = "*"

[dev-packages]
pylint = "*"
radon = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.6"
